
.mb10{
    margin-bottom: 10px;
}

.mb20{
    margin-bottom: 20px;
}

.mb15{
    margin-bottom: 15px;
}

.mb30{
    margin-bottom: 30px;
}

.mb50{
    margin-bottom: 50px;
}

.mb90{
    margin-bottom: 90px;
}

.mt30{
    margin-top: 30px;
}

.container{
    position: relative;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    height: 100vh;
    background-image: url("../img/backimage.png");
    /*background-image: url("../img/icon_white.png");
    background-position: -110px 245px;*/
    background-repeat: no-repeat;
    background-size: cover;
}

/*.logo img{
    position: absolute;
    margin-top: 40px;
    width: 220px;
    right:30px;
}*/

/*width: 360px;
background-color: #000000c9;
margin: 0 auto;
margin-bottom: 0px;
padding: 30px;
padding-top: 20px;
padding-bottom: 15px;*/

/*border-radius: 7px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
border-bottom-right-radius: 7px;
border-bottom-left-radius: 7px;*/

.tab-block{
    position: absolute;
    border-radius: 7px;
    border: solid 1px #EA9617;
    /*background-color: #EA9617;*/
    margin-top: 100px;
    right:30px;
    width: 450px;
}

.btn#btn_submit_vie, .btn#btn_submit_iard, .btn#btn_submit_sante, .btn#btn_valider, #btn_verif, #btn_verif_iard, #btn_verif_sante{
    background-color: #00008b !important;
    color: white;
    width: 120px;
    font-size: 18px;
    font-weight: bold;
}

.tab-content{
    border: 1px solid #ddd;
    border-top: none;
}

.tab-content .row{
    margin-left: 0;
    margin-right: 0;
}

.tab-content .row:last-child{
    margin-top: 30px;
}

.form-control{
    background-color: #ffffffe3;
}

.nav-tabs>li>a, .nav-tabs>li>a:focus {
    background-color: #00008b4f;
    color: #fbfbfb;
}

.nav-tabs>li>a:hover {
    background-color: #00008b8a;
    color: #fbfbfb;
}